<% include ./include/header.html %>
<% include ./include/top.html %>


    <div class="layui-container artice_t15 whiteBC">
             <div class="layui-row layui-col-space15 add_article" style="padding:15px;">
                    <h3 class="add_article_title"><span>发表新帖</span></h3>
                        <form class="layui-form layui-form-pane artice_t15" action="index/addArtContent">
                                  <div class="layui-row layui-col-space15 layui-form-item">
                                        <div class="layui-col-md5">
                                                <div class="layui-form-item">
                                                        <label class="layui-form-label">所在专栏</label>
                                                        <div class="layui-input-block">
                                                          <select name="clas" lay-filter="aihao" lay-verify="required">
                                                                  <option value=""></option>
                                                                  <% webPageInfo.clas.forEach(function(list,index){ %>
                                                                         <% if( list.id == webPageInfo.editArt.art_clas_id ){ %>
                                                                         <option value="<%=list.id%>" selected=""><%=list.clas_name%></option>
                                                                         <% }else{ %>
                                                                         <option value="<%=list.id%>"><%=list.clas_name%></option>
                                                                         <% } %>
                                                                  <% }) %>
                                                          </select>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="layui-col-md7">
                                                <div class="layui-form-item">
                                                        <label class="layui-form-label">标题</label>
                                                        <div class="layui-input-block">
                                                          <input type="text" name="title" value="<%= webPageInfo.editArt.title %>" autocomplete="off" placeholder="请输入标题" class="layui-input">
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="layui-col-md5">
                                                <div class="layui-form-item">
                                                      <label class="layui-form-label">是否原创</label>
                                                      <div class="layui-input-block">
                                                         <input type="checkbox" id="original" name="original" lay-skin="switch" lay-text="ON|OFF" lay-filter="switchTest">
                                                      </div>
                                                </div>
                                        </div>
                                        <div id="source">
                                            <div class="layui-col-md5">
                                                    <div class="layui-form-item">
                                                          <label class="layui-form-label">来源链接</label>
                                                          <div class="layui-input-block">
                                                            <input type="text" name="source_link" value="<%= webPageInfo.editArt.source_link %>" autocomplete="off" placeholder="请输入来源链接(选填)" class="layui-input">
                                                          </div>
                                                    </div>
                                            </div>
                                            <div class="layui-col-md7">
                                                    <div class="layui-form-item">
                                                          <label class="layui-form-label">来源</label>
                                                          <div class="layui-input-block">
                                                            <input type="text" name="source" value="<%= webPageInfo.editArt.source %>" autocomplete="off" placeholder="请输入来源描述(选填/最多可输入100字)" class="layui-input">
                                                          </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md12">
                                                <div class="layui-form-item">
                                                      <label class="layui-form-label" style="width: 100%;text-align: left;">新帖描述</label>
                                                      <div style="margin-top:10px;">
                                                             <textarea name="description" id="" cols="30" rows="10" class="layui-input" style="height: 100px;padding-top:7px;padding-bottom: 7px;" id="description" placeholder="最多可输入100字；超出部分将会被...替换掉"><%= webPageInfo.editArt.description %></textarea>
                                                      </div>
                                                </div>
                                        </div>
                                        <div class="layui-col-md5">
                                                <div class="layui-form-item">
                                                      <label class="layui-form-label">图片</label>
                                                      <div class="layui-input-block" style="margin-top:10px;">
                                                           <label type="button" class="layui-btn upload-img" id="uploadArtImg" style="vertical-align: top;">
                                                                 <i class="layui-icon"></i>
                                                                 上传图片
                                                            </label>
                                                            <input class="layui-upload-file" type="file" name="fileImg">
                                                            <img src="<%= webPageInfo.editArt.img %>" alt="" id="uploadImg" style="width: 160px;height: 160px;">
                                                      </div>
                                                </div>
                                        </div>
                                        <div class="layui-form-item layui-form-text">
                                              <div class="layui-input-block">
                                                      <% include ./include/ueditor.html %>
                                              </div>
                                        </div>
                                        <div class="layui-form-item">
                                              <button class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
                                        </div>
                                  </div>
                        </form>

            </div>  
    </div>
   



      <script>
          //JavaScript代码区域
          layui.use(['jquery','element','layer','form','upload'], function(){
                    var $ = layui.jquery,
                        element = layui.element,
                        layer = layui.layer,
                        // layedit = layui.layedit,
                        upload=  layui.upload,
                        form = layui.form;
                   //监听导航点击
                    element.on('nav(navdemo)', function(elem){
                      //console.log(elem)
                      layer.msg(elem.text());
                    });
                    var sourceDom = document.getElementById('source');
                    var sourceBool = false;
                    form.on('switch(switchTest)', function(data){
                         sourceBool = this.checked;
                          if(this.checked){
                              sourceDom.style.display='node';
                          }else{
                              sourceDom.style.display='block';
                          }
                    });
                    // layedit.set({
                    //         uploadImage: {
                    //             url: 'ajax/addArticleImg' //接口url
                    //             ,type:'post'
                    //         }
                    // });
                    // //注意：layedit.set 一定要放在 build 前面，否则配置全局接口将无效。
                    // var layeditIndex = layedit.build('layedit',{
                    //           uploadImage: {
                    //                     url: '../ajax/addArticleImg' //接口url
                    //                     ,type:'post'
                    //                 }
                    // }); //建立编辑器

                    //执行实例 //修改 头像
                    var uploadInst = upload.render({
                            elem: '#uploadArtImg' //绑定元素
                            ,url: '/ajax/addImg/?loadType=2' //上传接口
                            ,done: function(res){
                                    //上传完毕回调
                                    console.log(res);                                            
                                    if(res.code==0){
                                         layer.alert('上传成功',{time:2000, shift: 6 ,icon:6});
                                         z.getId('uploadImg').src=res.data.src;
                                         return false;
                                    }
                                    layer.alert(res.msg,{time:2000, shift: 6 ,icon:5}); 
                            }
                            ,error: function(){
                                 //请求异常回调
                                 layer.alert('请求超时！！！',{time:2000, shift: 6 ,icon:5}); 
                            }
                    }); 



                    
                    form.on('submit(demo2)',function(data){
                             //有待完成(IE不支持)；还有不能上传太多文本
                            // 把富文本编辑器的赋值到content中
                            // data.field.content=layedit.getContent(layeditIndex);
                            fieldContent = data.field.content = UE.getEditor('editor').getContent();
                            delete data.field.editorValue;
                            let src = z.getId('uploadImg').src;
                            data.field.img='';
                           
                            if(src.indexOf('upload')!==-1){
                                   data.field.img = '/upload'+src.split('upload')[1];
                            }                            
                            if(data.field.title==''){
                                 layer.msg('请输入标题',{time:2000, shift: 6 ,icon:5});
                                 return false;
                            }
                            if(data.field.title.length>100){
                                 layer.msg('标题最多100字符!',{time:2000, shift: 6 ,icon:5});
                                 return false;
                            }
                            if(data.field.source.length>100){
                                 layer.msg('来源描述最多100字符!',{time:2000, shift: 6 ,icon:5});
                                 return false;
                            }
                            if(!sourceBool){
                                    if(data.field.source_link==''||data.field.source==''){
                                         layer.msg('请填写来源!',{time:2000, shift: 6 ,icon:5});
                                         return false;
                                    }
                            }
                            

                            if(!UE.getEditor('editor').hasContents()){
                                 layer.msg('请编辑上传文章/帖子',{time:2000, shift: 6 ,icon:5});
                                 return false;
                            }

                            if(data.field.description.length>100){
                                  data.field.description = data.field.description.substr(0,100)+'...';
                            }

                            
                            data.field.artType='add';
                            data.field.sourceBool=sourceBool?1:0;
                            if('<%= webPageInfo.editArt.art_clas_id %>'!='0'){
                                    data.field.artType='edit';
                                    data.field.artListId='<%= webPageInfo.editArt.id %>';
                            }
                            // 上传加载动画
                            var layerLoad = layer.load(0, {shade: 0.1});
                            $.ajax({
                                 url:'/index/addArtContent',
                                 type:'get',
                                 data:data.field,
                                 success:function(res){
                                        console.log(res);     
                                        var res = JSON.parse(res); 
                                        var jsonres = res;        
                                        if(res.code==200){                                            
                                             layer.close(layerLoad); 
                                             layer.msg(res.msg,{time:2000,icon:6});
                                             setTimeout(function(){
                                                   window.history.back();
                                             },2000)
                                             return false;
                                        }
                                        layer.close(layerLoad); 
                                        layer.msg(res.msg,{time:2000, shift: 6 ,icon:5});
                                                                                                 
                                 },
                                 error:function(){
                                        layer.close(layerLoad); 
                                 }
                            })
                            return false;
                    })
          });
         setCont();
         function setCont(){
             var ueSetContent = document.getElementById('ueEditContent');//待写入编辑器的内容
             var ueInterval = setTimeout(function(){
                 if(!ueSetContent || !ueSetContent.innerHTML || ueSetContent.innerHTML==''){
                     setCont();
                     return false;
                 }   
                 try {
                         ue.setContent(ueSetContent.innerHTML);
                         clearTimeout(ueInterval);
                    } catch(e){
                         console.log('等待编辑器创建!');
                    }
             },300);
         }

      </script>
<div id="ueEditContent" style="display:none;"><%- webPageInfo.editArt.content %></div>
<% include ./include/footer.html %>
