<% include ../templates/head.html %>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="r" href="javascript:location.replace(location.href);" title="刷新" ><button class="layui-btn layui-btn-sm"><i class="layui-icon">ဂ</i></button></a></nav>

<div class="page-container">
	<div class="text-l"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入用户名称、电话、邮箱" id="ss-keyworld" name="">
		<div class="formControls skin-minimal ml-15" style="display: inline-block;">
			<div class="radio-box">
				<label>
					<input name="admin" type="radio" value="admin" checked>
					管理员
				</label>
			</div>
			<div class="radio-box">
				<label>
					<input name="admin" type="radio" value="user">
					全部用户
				</label>
			</div>
		</div>
		<button type="submit" class="layui-btn radius" id="ss-btn" name="">搜用户</button>
	</div>

		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive mt-30">
			<thead>
				<tr class="text-c">
					<th width="60">ID</th>
					<th>用户头像</th>
					<th width="150">用户名</th>
					<th width="100">手机号</th>
					<th width="150">邮箱</th>
					<th width="150">昵称</th>
					<th width="60">性别</th>
					<th width="60">管理员</th>
					<th width="60">状态</th>
					<th width="50">操作</th>
				</tr>
			</thead>
			<tbody id="tbody">
			</tbody>
		</table>
		<div id="demo7" class="mt-30 text-r"></div>

	</div>
</div>
<style>
body .layer_open_form{position: fixed;left: 1000%;z-index: 99999999;}
</style>
<div class="layer_open_form">
	<div id="open_form">
		<form class="layui-form layui-form-pane" id="form-admin-user-role-add" style="padding: 30px;">
			  <div class="layui-form-item">
			    <label class="layui-form-label">选择框</label>
			    <div class="layui-input-block">
			      <select name="role" lay-verify="required">
			        <option value="0"></option>
			        <% for(var i=0;i<__adminPageInfo__.role.length;i++){ %>
			        <option value="<%= __adminPageInfo__.role[i].id %>"><%= __adminPageInfo__.role[i].name %></option>
			        <% } %>
			      </select>
			    </div>
			  </div>
			  <button type="submit" id="open_form_submit" class="layui-btn radius" id="ss-btn" name="">提交</button>
		</form>
	</div>
</div>
<!-- <%= JSON.stringify(__adminPageInfo__) %> -->
<!--_footer 作为公共模版分离出去-->
<% include ../templates/footer.html %>
 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>
$('.skin-minimal input').iCheck({
	checkboxClass: 'icheckbox-blue',
	radioClass: 'iradio-blue',
	increaseArea: '20%'
});
function getTimeFn(time){
     const _date = new Date(time*1000);
     return _date.getFullYear()+'/'+(_date.getMonth()+1)+'/'+_date.getDate()+' '+_date.getHours()+':'+_date.getMinutes()+':'+_date.getSeconds()
}
function tbodyFn(obj){
	return '<tr class="text-c">'+
					'<td>'+obj.id+'</td>'+
					'<td class="text-l"><img src="'+obj.user_img+'" width="50px"/></td>'+
					'<td>'+obj.username+'</td>'+
					'<td>'+obj.phone+'</td>'+
					// '<td>'+ getTimeFn(obj.update_time) +'</td>'+
					'<td>'+obj.email+'</td>'+
					'<td>'+obj.nickname+'</td>'+
					'<td class="td-sex">'+(obj.sex==1?'<span class="label label-success radius">男</span>':'<span class="label radius">女</span>')+'</td>'+
					'<td class="td-admin">'+(obj.is_admin==1?'<span class="label label-success radius">是</span>':'<span class="label radius">否</span>')+'</td>'+
					'<td class="td-status">'+(obj.is_valid==1?'<span class="label label-success radius">有效</span>':'<span class="label radius">失效</span>')+'</td>'+
					'<td class="f-14 td-manage">'+
						((obj.id!=1)?
						(obj.is_admin==1?
						'<a style="text-decoration:none" onClick="article_stop(this,'+obj.id+')" href="javascript:;" title="停用">'+
					    	'<i class="Hui-iconfont">&#xe631;</i>'+
						'</a>':
						'<a style="text-decoration:none" onClick="article_start(this,'+obj.id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>'):'')+
						((obj.id!=1)?('<a style="text-decoration:none" class="ml-5" onClick="open_form('+obj.id+')" href="javascript:;" title="修改角色">'+
						    '<i class="Hui-iconfont">&#xe603;</i>'+
						'</a>'):'')+
						'<a style="text-decoration:none" class="ml-5" onClick="article_edit(\'查看\',\'/admin/user/user_details\','+obj.id+')" href="javascript:;" title="查看" data-obj=\''+JSON.stringify(obj)+'\'>'+
						    '<i class="Hui-iconfont">&#xe6df;</i>'+
						'</a>'+
						
						// '<a style="text-decoration:none" class="ml-5" onClick="article_del(this,\'10001\')" href="javascript:;" title="删除">'+
						//     '<i class="Hui-iconfont">&#xe6e2;</i>'+
						// '</a>'+
					'</td>'+
			'</tr>'
}

const _tbody = $('#tbody');
var ss = {
	 clas_id:''
	,art_name:''
	,minDate:''
	,maxDate:''
	,type:'admin'
	,count : '<%= __adminPageInfo__.user_count %>'
}
$('#ss-btn').click(function(){ 
    ss.minDate = $('#datemin').val();
    ss.maxDate = $('#datemax').val(); 
    ss.keyworld = $('#ss-keyworld').val(); 
    ss.type =  $('input[name="admin"]:checked')[0].value; 
    ss.isloadnum = true;
    laypageFn()
})
function laypageFn(clas_id,art_name,minDate,maxDate){
	     layui.laypage.render({
			     elem: 'demo7'
			    ,count: ss.count
			    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
			    ,jump: function(obj){
			    	console.log(obj);
			         //首次不执行
				     if(!obj||!obj.index){
				     	  return false;
				     }
				     if(obj.index==1){
				     	 laypageFn();
				     }else{
				     	 var loading = layui.layer.load(1);
				     	 var data = {curr:obj.curr,limit:obj.limit};
				     	 if(ss.keyworld!=''){
				     	 	    data.keyworld = ss.keyworld;//搜索名称
				     	 }
				     	 if(ss.minDate!=''){
				     	 	    data.minDate = ss.minDate;//最小时间
				     	 }
				     	 if(ss.maxDate!=''){
				     	 	    data.maxDate = ss.maxDate;//最大时间
				     	 }
				     	 if(ss.isloadnum){
				     	 	    data.isloadnum = ss.isloadnum;//重新算数量
				     	 }
				     	 if(ss.type){
				     	 	    data.type = ss.type;//查询类型、默认是管理员
				     	 }
				     	 console.log(data);
				         $.ajax({
				         	  url:'/admin/admin/ajaxAdminList',
				         	  type:'POST',
				         	  data:data,
				         	  dataType:'JSON',
				         	  success:function(data){
				         	  	   console.log(data);
				         	  	   if(data.code=='200'){
									       if(ss.isloadnum){
									       	    ss.isloadnum=false;
									       	    ss.count = data.result;
									       	    laypageFn();
									       }
				         	  	   	       _tbody.html(' ');
				         	  	   	       for(var i =0;i<data.result.length;i++){
				         	  	   	       	     _tbody.append(tbodyFn(data.result[i]))
				         	  	   	       }
						         	  	   layui.layer.msg('加载成功');
						         	  	   layui.layer.close(loading);
				         	  	   }
				         	  },
				         	  error:function(err){
				         	  	   console.log(err);
				         	  	   layui.layer.msg('加载失败');
				         	  	   layui.layer.close(loading);
				         	  }
				         })
				     } 
			    }
		});
}
laypageFn();

var index = '';
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
		 index = layui.layer.open({
			type: 2,
			title: title,
			content: url+'?id='+id
		});
		layui.layer.full(index);
}
/*资讯-下架*/
function article_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,'+id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
		$(obj).parents("tr").find(".td-admin").html('<span class="label label-defaunt radius">否</span>');
		$(obj).remove();
		paste(false,id)
		
	});
}
/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,'+id+')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-admin").html('<span class="label label-success radius">是</span>');
		$(obj).remove();
		paste(true,id)
	});
}
function paste(isPaste,id){
     $.ajax({
     	  url:'/admin/admin/isAdmin',
     	  type:'POST',
     	  data:{isPaste:isPaste,id:id},
     	  dataType:'JSON',
     	  success:function(data){
     	  	   console.log(data);
     	  	   if(data.code=='200'){
				       if(isPaste){
				       	    layui.layer.msg('已启用!',{icon: 6,time:1000});
				       }else{
				       	    layui.layer.msg('已停用!',{icon: 5,time:1000});
				       }		
				       return false;		       
     	  	   }
     	  	   layui.layer.msg(data.msg,{icon: 5,time:1000});
     	  },
     	  error:function(err){
     	  	   console.log(err);
     	  	   layui.layer.msg('请求超时');
     	  	   layui.layer.closeAll();
     	  }
     })
}

/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}

var open_form_layer = '';
function open_form(id){
	$('#form-admin-user-role-add').attr('data-id',id);
	open_form_layer = layui.layer.open({
		  type: 1 //Page层类型
		  ,area: ['500px', '500px']
		  ,title: '选择用户角色'
		  ,shade: 0.6 //遮罩透明度
		  ,maxmin: true //允许全屏最小化
		  ,anim: 1 //0-6的动画形式，-1不开启
		  ,content: $('#open_form')
		  ,closeBtn:function(){
		  	   // $('#open_form').hide();
		  }
	}); 
}

$(function(){
	$("#form-admin-user-role-add").validate({
		rules:{
			role:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            if($('select[name="role"]').val()==0){
                layui.layer.msg('请选择用户角色')
            	return false;
            }
			var data = {
				role_id:$('select[name="role"]').val(),
				id:$('#form-admin-user-role-add').attr('data-id')
			};

			console.log(data)

			$.ajax({
				type: 'POST',
				data:data,
				url: '/admin/admin/userRoleAdd',
				dataType: 'json',
				success: function(data){
					layui.layer.close(open_form_layer);
					var icon = 1;
					if(data.code=='000'){
						  icon = 2;
					}
					layui.layer.msg(data.msg,{icon:icon,anim: 6,time:1500});
				},
				error:function(data) {
					console.log(data.msg);
				},
			});	
			return false;
		}
	});
});
</script>

</body>
</html>