<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="UTF-8">
	  <title>用户信息</title>
	  <meta name="renderer" content="webkit">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <link rel="stylesheet" href="../../layui/css/layui.css"  media="all">
	  <script src="../../layui/layui.js" charset="utf-8"></script>
      <style>
           #tab_box{margin:0;}
      </style>
</head>
<body>

<!-- <a href=".<%= list.url %>"> -->

<div class="layui-tab" lay-filter="demo" lay-allowclose="true" id="tab_box">
	  <ul class="layui-tab-title">
            <% list.forEach(function(list,index){ %>
                <li lay-id="<%=index%>" <% if(index==0){ %> class="layui-this" <% } %> ><%= list.title %></li>
            <% }) %>
	  </ul>
	  <div class="layui-tab-content">
		    <!-- <div class="layui-tab-item layui-show">内容1</div> -->
            <% list.forEach(function(list,index){ %>
                <div class="layui-tab-item <% if(index==0){ %> layui-show <% } %>" >
			                .<%= JSON.stringify(list) %>
			                <iframe scrolling="auto" allowtransparency="true" id="layui-layer-iframe1" name="layui-layer-iframe1" onload="this.className='';" class="" frameborder="0" src="../index" style="width:100%;"></iframe>
			                <button class="layui-btn site-demo-active tabAdd" data-id="1" data-tabId="1" data-url="./authority" title="用户权限">用户权限</button>
			                <button class="layui-btn site-demo-active tabAdd" data-id="2" data-tabId="2" data-url="./role" title="用户角色">用户角色</button>
			                 <button class="layui-btn site-demo-active tabAdd" data-id="3" data-tabId="3" data-url="./authority" title="用户权限">用户权限</button>
			                <button class="layui-btn site-demo-active tabAdd" data-id="4" data-tabId="4" data-url="./role" title="用户角色">用户角色</button>
			                 <button class="layui-btn site-demo-active tabAdd" data-id="5" data-tabId="5" data-url="./authority" title="用户权限">用户权限</button>
			                <button class="layui-btn site-demo-active tabAdd" data-id="6" data-tabId="6" data-url="./role" title="用户角色">用户角色</button>
			                 <button class="layui-btn site-demo-active tabAdd" data-id="7" data-tabId="7" data-url="./authority" title="用户权限">用户权限</button>
			                <button class="layui-btn site-demo-active tabAdd" data-id="8" data-tabId="8" data-url="./role" title="用户角色">用户角色</button>
			                 <button class="layui-btn site-demo-active tabAdd" data-id="9" data-tabId="9" data-url="./authority" title="用户权限">用户权限</button>
			                <button class="layui-btn site-demo-active tabAdd" data-id="10" data-tabId="10" data-url="./role" title="用户角色">用户角色</button>

			                充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>
                </div>
            <% }) %>

	  </div>
</div>

 <script>
layui.use('element', function(){
			 
			  var $ = layui.jquery
			  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

			    var tab_box = $('#tab_box')[0],  
			        tab_title = tab_box.children[0],  //tab导航
			        tab_content = tab_box.children[1]; //tab导航内容
                    changeTCH();
              function changeTCH(){
			        tab_content.style.height=window.innerHeight-62+'px';
			        tab_content.style.overflowY='scroll';
			        var tab_content_iframes=tab_content.getElementsByTagName('iframe');
			        for(var i=0;i<tab_content_iframes.length;i++){
					        tab_content_iframes[i].style.height=window.innerHeight-62+'px';
					        tab_content_iframes[i].style.overflowY='scroll';
			        }
              }
			  //触发事件
			  var active = {
					    tabAdd: function(id,title,url){
					         //新增一个Tab项						      
						      var content='<iframe scrolling="auto" allowtransparency="true" id="layui-layer-iframe1" name="layui-layer-iframe1" onload="this.className=\'\';" class="" frameborder="0" src="'+url+'" style="width:100%;overflow-y:scroll;height:'+(window.innerHeight-62)+'px'+'"></iframe>';
						      element.tabAdd('demo', {
							        title: title //用于演示
							        ,content: content 
							        ,id: id //实际使用一般是规定好的id，这里以时间戳模拟下
						      })
					    }
					    ,tabDelete: function(othis){
						      //删除指定Tab项
						      element.tabDelete('demo', '44'); //删除：“商品管理”
						      othis.addClass('layui-btn-disabled');
					    }
					    ,tabChange: function(id){
						      //切换到指定Tab项
						      element.tabChange('demo', id); //切换到：用户管理
					    }
			  };
			  
			  $('.site-demo-active').on('click', function(){
					    var _this=$(this),
					        hasTab=false,//是否有这个tab
					        new_id=_this[0].getAttribute('data-id'),
					        tabId=_this[0].getAttribute('data-tabId'),
					        url=_this[0].getAttribute('data-url'),
					        title=_this[0].getAttribute('title');

						    for(var i=0;i<tab_title.children.length;i++){
						    	   if(tab_title.children[i].getAttribute('lay-id')==new_id){
	                                      hasTab=true;
						    	   }
						    }
						    if(hasTab){//导航已经有这个了
	                                console.log('children')
						    }else{//导航没有添加
								    active.tabAdd(new_id,title,url);
								    active.tabChange(new_id);
						    }
						    console.log(tab_title.children[tab_title.children.length-1])

			  });
			  
			  //Hash地址的定位
			  var layid = location.hash.replace(/^#demo=/, '');
			  element.tabChange('demo', layid);
			  
			  element.on('tab(demo)', function(elem){
			        location.hash = 'demo='+ $(this).attr('lay-id');
			        // console.log(elem.elem[0].children[0].children);
			        // 
			  });


			  // //触发事件
	    /*   
	          function addItem(){
				      var _id=new Date().getTime();
				      element.tabAdd('demo', {
					        title: '新选项'+ (Math.random()*1000|0) //用于演示
					        ,content: '内容'+ (Math.random()*1000|0)
					        ,id: _id //实际使用一般是规定好的id，这里以时间戳模拟下
				      })
				      console.log($('#'+_id).eq(0)); //切换到
	          }
			  $('.tabAdd').on('click', addItem); 


			  //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
			  var layid = location.hash.replace(/^#demo=/, '');
			  element.tabChange('demo', layid); //假设当前地址为：http://a.com#demo=222，那么选项卡会自动切换到“发送消息”这一项
			  
			  //监听Tab切换，以改变地址hash值
			  element.on('tab(demo)', function(){
			       console.log(this);
			       location.hash = 'demo='+ this.getAttribute('lay-id');
			       console.log(location.hash)
			  });
		*/		  

});
</script>
</body>
</html>